extends layout

block content
  section.hero
    h1 Bienvenido a VolleyConnect
    p Organiza y participa en partidos de voleibol fácilmente.
    a.btn(href="/matches") Ver Partidos
    //- a.btn(href="/create-event") Crear Partido
